.App {
  text-align: center;
}

/* .navbar { @media only screen and (max-width: 1044px) 
  min-width: 320px;
} */

.App-header {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  color: white;
  cursor: default;
  min-width: 320px;
  max-height: 44px;
  height: 48px;
  background: rgba(45, 45, 45, 0.98);
  width: 100%;
  position: absolute;
}
.navbar {
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  color: white;
  cursor: default;
  min-width: 320px;
  max-height: 44px;
  height: 48px;
  background: rgba(45, 45, 45, 0.98);
  width: 100%;
  position: absolute;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
}
.main-nav-li {
  margin: 0;
  margin-left: 40px;
  cursor: pointer;
  /* border: 1px solid red; */
}
